.burgerBtn {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.burgerBtn:before {
    position: absolute;
    top: 0;
    content: "";
    width: 24px;
    height: 2px;
    background-color: #000;
    border-radius: 5px;
}

.burgerBtn span {
    position: absolute;
    top: 11px;
    content: "";
    width: 24px;
    height: 2px;
    background-color: #000;
    border-radius: 5px;
}

.burgerBtn:after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 24px;
    height: 2px;
    background-color: #000;
    border-radius: 5px;
}